<p>Esto es una prueba para el inappbrowser</p>
<div>
  <button (click)='abrir()'>Pulse aquí para continuar</button>
</div>  

<div>
  <button (click)='enviar()'>Enviar Mail</button>
</div> 

<div>
  <button (click)='camara()'>Mostrar cámara</button>
</div> 

<div>
  <button (click)='llamar()'>Llamara aquí</button>
</div> 

<div>
  <button (click)='geolocalizar()'>Geolocalizar aquí</button>
</div> 

<div>
  <button (click)='compartir()'>Compartir aquí</button>
</div> 

<div>
  <button (click)='llamarHttp()'>Llamadas Http aquí</button>
</div> 

<div>
  <table>
   <tr *ngFor="let item of pokemons.abilities">
      <td>
              {{item.ability.name}}
    </td>
      </tr>
  </table>
</div>

